body{
  background-color: #b3d9ff;
  border:0;
  margin:0;
  display:block;;
}
.container{
  display:block;
  border:none;
  margin:0;
  max-width:960px;
}

.top{
  position:fixed;
  background-color: white;
  margin-left:0;
  padding:0;
  width:100%;
  display:block;
  z-index: 10;

}
.splash{
  display:block;
  /*position: relative;
  top: 174px;*/
}

.mainContent{
  display:block;
  border:solid;

}
.boxOne{
  position:relative;
  left:25px;
}

.lilFish{
  width:200px;
  max-height:150px;
}

.buttonHead{
  margin:20px;
  margin-right: 5px;
  margin-top:5px;

}

#data {
  font: verdana;
  color: #009900;
}

.creepyFam{
  width:1194px;
  opacity: .7;

}

.cookies{
  display:inline;

}
